*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0a192f;
  color: #F8FAFC;
  font-family: 'Sora', sans-serif;
}

a{
  color: inherit;
}

sup{
  font-size: 14px;
}

header{
  position: relative;
  width: 100%;
  max-height: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #0a192f);
  pointer-events: none;
}

header video{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay{
  position: absolute;
  background: rgba(10, 25, 47, 0.2);
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content h1{
  font-size: clamp(32px, 4vw, 46px);
}

.hero-content p{
  font-size: clamp(12px, 3vw, 24px);
}

.search-container{
  margin-top: 12px;
  width: 275px;
}

.search-container input{
  outline: none;
  border: none;
  padding: 10px 90px 10px 15px;
  border-radius: 32px;
}

.search-container input::placeholder{
  font-size: 16px;
  font-weight: bold;
}

#suggestions{
  background: rgba(255, 255, 255, 0.4);
  color: #0a192f;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  position: absolute;
  width: 45%;
  max-height: 350px;
  overflow-y: auto;
}

#suggestions::-webkit-scrollbar{
  display: none;
}

#suggestions div{
  padding: 10px 90px 10px 15px;
  border-bottom: 1px solid #0a192f;
}

#suggestions div:first-child{
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
#suggestions div:last-child{
  padding-bottom: 4px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#suggestions div:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#locationDisplay{
  display: none;
  padding-bottom: 24px;
}

#locationDisplay span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: pink;
  animation: blink 2s infinite;
}

@keyframes blink{
  0%{
    opacity: 1;
  } 50%{
    opacity: 0;
  } 100%{
    opacity: 1;
  }
}

main{
  flex-grow: 1;
}

.welcome-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message p{
  font-size: clamp(10px, 2vw, 24px);
}

.info-section{
  display: none;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  align-items: start;
  padding-bottom: 16px;
}

.info-section section{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px 15px;
  border-radius: 12px;
}

.weather-section h3{
  margin-bottom: 15px;
}

.weather-info div{
  margin-top: 32px;
}

.current-weather-info{
  display: flex;
  gap: 35px;
}

.city-section h3{
  padding-bottom: 8px;
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
}

.city-insight-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}

.city-insight-info div{
  background: #0a192f;
  padding: 10px 10px;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.city-insight-info div svg{
  margin-top: 6px;
}

.city-insight-info div div{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
}

#elevation, #timezone{
  color: rgba(255, 255, 255, 0.6);
}

#temperature{
  font-size: clamp(32px, 4vw, 44px);
  font-weight: bold;
}

#apparent-temperature{
  margin-top: 12px;
}

#humidity, #dew-point, #pressure, #visibility, #wind, #direction{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: clamp(16px, 4vw, 20px);
  color: rgba(255, 255, 255, 0.9);
} 

#dew-point, #visibility, #direction, #apparent-temperture{
  color: rgba(255, 255, 255, 0.6);
}

footer{
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid grey;
  padding: 15px 15px;
}

footer div:nth-child(2) p{
  font-size: clamp(10px, 2vw, 24px);
}

footer div:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.loader-container {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;       
  height: 100vh;    
  display: none;       
  justify-content: center;
  align-items: center;
  z-index: 9999;    
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #3498db; 
  border-radius: 50%;  
  animation: spin 1s linear infinite;
}

/* The Animation Logic */
@keyframes spin {
  0% {
    transform: rotate(0deg);     /* Starting position */
  }
  100% {
    transform: rotate(360deg);   /* Completes a full spin */
  }
}
